<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact Information</title>
    <link href="../Content/bootstrap.css" rel="stylesheet" />    
    <script src="../Scripts/jquery-3.0.0.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Services/AllCustomersService.js"></script>
</head>
<body>
    
<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="nav-item nav-link active" href="AllCustomers.html">All Customers</a>
        <a class="nav-item nav-link" href="SearchPage.html">Search</a>
        <a class="nav-item nav-link" href="AddCustomer.html">Add/Update Customer</a>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <h2>Customer Contact Information</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table id="CustomerTable"
                   class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
    
    $(document).ready(function() {
        CustomerList();
    });    
</script>
</body>
</html>
